site: Ross McLendon Photography

url: https://rossmclendonphotography.com
baseurl: 

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /blog/:slug
  portfolios:
    output: true
    permalink: /portfolio/:slug
  compilations:
    output: true
    permalink: /collection/:slug
  sessions:
    output: true
    permalink: /sessions/:slug

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "portfolios"
    values:
      layout: "portfolio"
  -
    scope:
      path: ""
      type: "compilations"
    values:
      layout: "compilation"
  -
    scope:
      path: ""
      type: "sessions"
    values:
      layout: "session"
      sitemap: false

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  
sass:
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap

paginate: 10
paginate_path: "/blog/page:num/"

grid_alignments:
  - top
  - center
  - bottom